<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <!-- third part libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

    <!--<script src="js/models/todo.js"></script>
    <script src="js/app.js"></script>-->

    <ul id="list"></ul>

    <script type="text/template" id="item-template">
        <div id="<%= cid %>">
            <%= title %>
        </div>
    </script>

    <script>
        var Item = Backbone.Model.extend({
            defaults: {
                title: '',
                done: false
            }
        });

        var Items = Backbone.Collection.extend({
            model: Item
        });

        var itemsList = new Items([
            new Item({title: 'mauricio'}),
            new Item({title: 'alan'}),
            new Item({title: 'weslley'})
        ]);


        var ItemView = Backbone.View.extend({
            tagName: 'li',

            template: _.template($('#item-template').html()),

            events: {
                'click': 'test'
            },

            initialize: function() {
                // this.render();
            },

            render: function() {
                // console.log(this.model);
                this.$el.html(this.template({
                    title: this.model.get('title'),
                    cid: this.model.cid
                }));
                console.log(this.$el);
                return this;
            },

            test: function() {
                var item = itemsList.get(this.$el.find('div').attr('id'));
                item.set({title: 'ueba'});
                list.render();
            }
        });

        var ListView = Backbone.View.extend({
            el: '#list',

            initialize: function() {
                this.render();
            },

            render: function() {
                _.each(itemsList.models, function(e) {
                    var item = new ItemView({model: e});

                    this.$el.append(item.render().el);
                }, this);
            }
        });

        var list = new ListView();
    </script>
</body>
</html>